<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="walluiz.chaze.lukiles.walluiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="walluiz.chaze.lukiles.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="walluiz.chaze.lukiles.MainActivity" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="walluiz.chaze.lukiles.PLAY" />
        <activity android:name="walluiz.chaze.lukiles.duringPlay" />
        <activity android:name="walluiz.chaze.lukiles.leaderboard" />
        <activity android:name="walluiz.chaze.lukiles.WinActivity" />
        <activity android:name="walluiz.chaze.lukiles.LoseActivity" />
        <activity android:name="walluiz.chaze.lukiles.AboutActivity" />
        <activity android:name="walluiz.chaze.lukiles.options" />
    </application>

</manifest>